{% if flash.getMessage('error') %}
    {{ flash.getMessage('error')[0] }}
{% endif %}
<form method="post" action="/authorize?{{ query_string }}">
    <label>Willyfog OpenID Connect Login</label><br/>
    <label> Email
        <input type="email" name="email" value="{{ session.get('email') }}" required>
    </label><br/>
    <label> Password
        <input type="password" name="password" value="{{ session.get('password') }}" required>
    </label><br/>
    <input type="submit" value="Authorize">
</form>